body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

    body {

    }

    .hero-background {
        background-image: url(../img/fonas\ tiltas.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-content {
        display: inline-block;
        width: 500px;
        margin: 40px calc((100% - 500px) / 2) 20px;  
        text-align: center;
    }
        #hero .logo {
            
        }

            #hero .logo > img {
                max-width: 20px;
                
            }

        #hero h1 {
            font-size: 40px;
            text-transform: uppercase;
        }

        #hero p {
            color: #BDC5CC;
        }

        #hero .clock {
            display: inline-block;
            color: white;
            width: 100%;
        }

            #hero .clock > .clock-block {
                display: inline-block;
                width: 25%;
                float: left;
            }

                #hero .clock > .clock-block > .value {
                    
                }

                #hero .clock > .clock-block > .title {
                    
                }

        #hero form {
            color: white;
        }

            #hero form > input {
                width: 100%;
            }

            #hero form > .btn {
                
            }

        #hero .mouse {
            color: white;
        }