body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

    body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .hero-background {
        background-image: url(../img/fonas\ tiltas.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-content {
        display: inline-block;
        width: 500px;
        margin: 40px calc((100% - 500px) / 2) 20px;  
        text-align: center;
    }

        #hero .hero-content * {
            display: inline-block;
            width: 100%
        }

        #hero .logo {
            display: inline-block;
            background-image: url(../img/zalia\ ikona.png);
            width: 40px;
            height: 40px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }

        #hero h1 {
            text-transform: uppercase;
            margin: 40px 0 20px;
            font-size: 40px;
            line-height: 40px;
        }

        #hero p {
            display: inline-block;
            color: #BDC5CC;
            margin: 0 0 20px;
            font-size: 16px;
            line-height: 20px;
        }

        #hero .clock {
            display: inline-block;
            color: white;
            width: 100%;
            margin: 40px 0 60px 0;
        }

            #hero .clock > .clock-block {
                display: inline-block;
                width: 25%;
                float: left;
            }

                #hero .clock > .clock-block > .value {
                    font-size: 36px;
                }

                #hero .clock > .clock-block > .title {
                    font-size: 20px;
                }

        #hero form {
            display: inline-block;
            color: white;
            margin: 0 0 20px;
        }

            #hero form > input {
                width: 90%;
                margin-bottom: 20px;
                padding: 10px 0;
                font-size: 20px;
                line-height: 20px;
                border: none;
                border-bottom: 2px solid #ffffff;
                background: transparent;
            }

            #hero form > input::placeholder {
                color: white;
            }

            #hero form > input::focus {
                cursor: pointer;
            }

            #hero form > .btn {
                background-color: #EA1E63;
                color: white;
                padding: 10px 15px;
                width: 180px;
                display: inline-block;
                border: 4px solid red;
            }

        #hero .mouse {
            color: white;
        }

    #content {
        display: inline-block;
        width: 100%;
    }

        #content .container {
            display: inline-block;
            width: 800px;
            margin: 40px calc((100% - 800px) / 2) 20px;
        }

            #content .container > .left {
                display: inline-block;
                width: 50%;
                float: left;
            }
                #content h3 {
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                #content p {
                    margin: 0 0 30px;
                    font-size: 14px;
                    line-height: 30px;
                    color: #C2C5C8;
                }
            #content .container > .right {
                display: inline-block;
                width: 50%;
                float: left;
                padding-left: 10px;
            }
                
    footer {
        background-color: #00ABF7;
    }
        footer > .social {

        }

        footer > .class {
            
        }